<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- Font Awesome --}}
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  {{!-- Custom CSS Style --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  {{!-- Page Title --}}
  <title>Cater 2 Me</title>
</head>

<body>
  <nav class="navbar navbar-light navbar-header header-for-navbar">
    <img src="/images/LogoNavbar.png" alt="Cater to Me Logo" id="navbar-logo" class="navbar-brand">
    <p class="lead" style="margin-right: 110px;">The Solution for Planning your Next Catering Event.</p>
      <button class="btn btn-outline-light ml-auto" href="#">Home</button>
      <button class="btn btn-outline-light ml-auto" href="#">Login</button>
      <button class="btn btn-outline-light ml-auto" href="#">Logout</button>
  </nav>
  

  {{!-- HAMBURGER NAV BAR
  <nav role="navigation">
    <div id="menuToggle">
      <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
      <input type="checkbox" />

      <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
      <span></span>
      <span></span>
      <span></span>

      <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
      <ul id="menu">
        <a href="/">
          <li id="home-link">Home</li>
        </a>
        <a href="/logout" id="cookie" class="custuser">
          <li>Log Out</li>
        </a>
      </ul>
    </div>
  </nav> --}}

  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>