<div id="createAcct">

    <div class="jumbotron jumbotron-fluid fixed-top jumbotron-custom">
        <div class="container text-center">
            <h1 class="display-4">Cater to Me</h1>
            <p class="lead">The Solution for Planning your Next Catering Event.</p>
        </div>
    </div>


    <div class="container createAcct-body-container">
        <div class="row login-row">
            <div class="col-8 offset-1 login-col">
                <h3>Login: </h3>
                <form class="clearfix mb-4" action="">
                    <div class="form-group">
                        <label for="example-text">Name</label>
                        <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                            placeholder="Enter Example Text">
                        <label for="example-text">Email</label>
                        <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                            placeholder="Enter Example Text">
                    </div>
                    <div class="form-group">
                        <label for="example-description">Password</label>
                        <textarea class="form-control" id="example-description" aria-describedby="example-description"
                            placeholder="Enter Example Description"></textarea>
                        <label for="userTypeSelect">User Type</label>
                        <select class="form-control" id="userTypeSelect">
                            <option>User</option>
                            <option>Vendor</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="foodTypeSelect">Example select</label>
                        <select class="form-control" id="foodTypeSelect">
                            <option>American</option>
                            <option>Chinese</option>
                            <option>Cajun/Creole</option>
                            <option>Italian</option>
                            <option>Japanese</option>
                            <option>Mediterranean</option>
                            <option>Mexican</option>
                            <option>Southern</option>
                            <option>Thai</option>
                            <option>Tex-Mex</option>
                        </select>
                    </div>
                    <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>

                {{!-- <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
            </div>
        </div>
    </div>
</div>