    <div id="createAcct">
        <div class="container createAcct-body-container">
            <div class="row login-row">
                <div class="col-8 offset-2 login-col">
                    <h3 class="text-center">Create an account!</h3>

                    <!-- Select User Type Buttons
                    ======================================================= -->
                    <div class="clearfix row userTypeBtns">
                        <div class="col">
                            <button id="customerButton" class="btn btn-primary float-left">Customer (Looking for a
                                Caterer)</button>
                        </div>
                        <div class="col">
                            <button id="vendorButton" class="btn btn-primary float-right">Vendor (Looking to
                                Cater)</button>
                        </div>
                    </div>
                    
                    <!-- We are going to have 2 form classes
                    one will involve a user (create-user) and the 
                    other will involve a vendor (create-vendor) based on 
                    what button a user will press, we will show these classes.
                    Look at  public/js/create.js to see the js that goes with this page.
                    the submit button will have the route  -->

                      <!-- Customer Form
                    ======================================================= -->
                    <form class="clearfix mb-4 create-user" action="">
                        <div class="form-group">
                            <label for="nameUser">Name</label>
                            <input type="text" id="nameUser" class="form-control" aria-describedby="example-text"
                                placeholder="John Doe">
                        </div>
                        <div class="form-group">
                            <label for="emailUser">Email</label>
                            <input type="text" id="emailUser" class="form-control" aria-describedby="example-text"
                                placeholder="johndoe@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="passwordUser">Password</label>
                            <input type="password" id="passwordUser" class="form-control" aria-describedby="example-text"
                                placeholder="Enter at least 8 characters">
                        </div>
                        <button id="submit" class="btn btn-primary float-right">Submit</button>
                    </form>


                    <!-- Vendor Form
                    ======================================================= -->
                    <form class="clearfix mb-4 create-vendor" action="">
                        <div class="form-group">
                            <label for="nameVendor">Name</label>
                            <input type="text" id="nameVendor" class="form-control" aria-describedby="example-text"
                                placeholder="John Doe">
                        </div>
                        <div class="form-group">
                            <label for="emailVendor">Email</label>
                            <input type="text" id="emailVendor" class="form-control" aria-describedby="example-text"
                                placeholder="johndoe@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="passwordVendor">Password</label>
                            <input type="password" id="passwordVendor" class="form-control" aria-describedby="example-text"
                                placeholder="Enter at least 8 characters">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" class="form-control" aria-describedby="example-text"
                                placeholder="999-999-9999">
                        </div>

                        <button id="submit" class="btn btn-primary float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/create.js"></script>
