<div id="createEvent">
    <div class="container createAcct-body-container">
        {{!-- <div class="row login-row"> --}}
            <div class="col-8 offset-1 login-col">
                <h3>Create an Event!</h3>                
                <form class="clearfix mb-4 create-event" action="">
                    <div class="form-group">
                        <input type="text" id="userid" value={{id}} hidden='true'>
                        <label for="example-text">Phone</label>
                        <input type="text" id="phone" class="form-control" aria-describedby="example-text"
                            placeholder="Phone Number">

                        <label for="example-text">City</label>
                        <input type="text" id="city" class="form-control" aria-describedby="example-text"
                            placeholder="City">

                            <label for="example-text">State</label>
                        <input type="text" id="state" class="form-control" aria-describedby="example-text"
                            placeholder="State">

                        <label for="example-text">Occasion</label>
                        <input type="text" id="occasion" class="form-control" aria-describedby="example-text"
                            placeholder="Occasion">

                            <label for="example-text">Courses</label>
                        <input type="text" id="courses" class="form-control" aria-describedby="example-text"
                            placeholder="Number of Courses">

                        <label for="example-text">Consideration</label>
                        <input type="text" id="consideration" class="form-control" aria-describedby="example-text"
                            placeholder="Kosher, Vegan, Halal, etc..">

                            <label for="example-text">Size</label>
                        <input type="text" id="size" class="form-control" aria-describedby="example-text"
                            placeholder="Number of guests">

                        <label for="example-text">Alcohol</label>
                        <input type="text" id="alcohol" class="form-control" aria-describedby="example-text"
                            placeholder="yes or no">

                            <label for="example-text">Decor</label>
                        <input type="text" id="decor" class="form-control" aria-describedby="example-text"
                            placeholder="yes or no">

                        <label for="example-text">comments</label>
                        <input type="text" id="comments" class="form-control" aria-describedby="example-text"
                            placeholder="Enter Example Text">
                    </div>
                   
                    <button id="submit" class="btn btn-primary float-right">Create Event</button>
                </form>                  
            </div>
        {{!-- </div> --}}
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../public/js/createevent.js"></script>