<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../public/styles/styles.css" media="screen" title="no title" charset="utf-8" />
    <title>Home Page</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid jumbotron-custom">
        <div class="container text-center">
            <h1 class="display-4">Cater to Me</h1>
            <p class="lead">The Solution for Planning your Next Catering Event.</p>
        </div>
    </div>

    <div class="container customer-home-body-container">
        <!-- CUSTOMER NAME ROW -->
        <div class="row customer-name-row">
            <div class="col-12-lg add-event-col">
                <h1 class="cust-name" id="name-of-customer">Frank Douglas</h1>
            </div>
        </div>

        <!-- CUSTOMER EVEN WRAPPER -->
        <div class="row event-wrapper">
            <div class="col-12-lg event-wrapper-col">
                <!-- CUSTOMER ADD NEW EVENT BUTTON ROW  -->
                <div class="row add-event-row">
                    <div class="col-12-lg add-event-col">
                        <button id="submit" class="btn-lg btn-primary create-new-event">
                            Create New Event
                        </button>
                    </div>
                </div>

                <!-- CUSTOMER VIEW JOBS ROW -->
                <div class="row view-job-row">
                    <div class="col-12-lg view-job-col">
                        <ul>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                            <li> <p>Event Id: {{eventid}}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/create.js"></script>
</body>

</html>