<div id="home">

  <div class="jumbotron jumbotron-fluid jumbotron-custom">
    <div class="container text-center">
      <h1 class="display-4">Cater to Me</h1>
      <p class="lead">The Solution for Planning your Next Catering Event.</p>
    </div>
  </div>


  <div class="container index-body-container">
    <div class="row login-row">
      <div class="col-8 offset-1 login-col">
        <h3>Login: </h3>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Username</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Password</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <a href="#">Create an Account</a>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>