/* Global Styling */
/* =================================================================== */
html {
  height: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  height: 100%;
  background-color: #cccccc;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #132149;
  color: white;
}

/* .btn {
  background-color: #132149;
} */

.list-group-item {
  line-height: 2.5;
}

.container {
  margin-top: 120px;
}

.log-in {
  background-color: #132149;
  color: white;
}

.log-out {
  background-color: #132149;
  color: white;
}

/* Hamburger Menu Styling */
/* =================================================================== */
a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: blue;
}

#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 92%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 10%;
  height: 150px;
  margin: 25px 0 0 18%;
  padding: 8px;
  /* border-radius: 20px; */

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  /* -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px; */
}

#menu li {
  padding: 10px;
  font-size: 22px;
  /* display: flex;
  justify-content: center; */
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: translateX(-200%);
  /* transform: none; */
}


/* Index Page Styling */
/* =================================================================== */
.index-body-container {
  max-width: 60%;
  margin-top: 120px;
  background-color:rgba(255, 255, 255, 0.931);
  border-radius: 25px;
}

.login-row {
  padding: 30px 10px 20px 10px;
}

.login-col {
  min-width: 650px;
}

.card-info-container {
  max-width: 90%;
  margin-top: 40px;
}

.about-us-card {
  background-color:rgba(255, 255, 255, 0.931);
  max-width: 100%;
  border-radius: 10px;
}

.how-does-it-card {
  background-color:rgba(255, 255, 255, 0.931);
  max-width: 100%;
  border-radius: 10px;
}

.card-image {
  border-radius: 10px;
}



/* Create Account Page Styling */
/* =================================================================== */
.clearfix.row {
  margin: 30px 0px 30px 0px;
}

.createAcct-body-container {
  /* max-width: 1100px; */
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.createAcct-row {
  padding: 30px 10px 20px 10px;
}

.createAcct-col {
  /* min-width: 1100px; */
}

.form-row {
  margin: 1rem 0rem;
}

/* Vendor Homepage Page Styling */
/* =================================================================== */
.vendorHome-container {
  background-color: #132149;
  padding: 1rem;
  border-radius: 20px;
}

#vendorTitle {
  color: white;
}

.eventList {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 15px;
}

#eventSearchSubmit {
  margin-left: 4rem;
}

/* Event Page Styling */
/* =================================================================== */
#eventAccept{
  background-color: #132149;
  color: white;

}

.eventName {
  text-align: center;
}
/* Customer Homepage Page Styling */
/* =================================================================== */
.customer-home-body-container {
  background-color: #132149;
  border-radius: 10px;
  width: 75%;
  color: white;
}

#name-of-customer {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-event-col {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.view-job-row {
  display: flex;
  justify-content: center;
  /* color: black; */
}

.view-job-col {
  width: 70%;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
}

#madeEventTable{
  font-family: 'Kalam', cursive;
  color:black;
  text-align: center;
  width: 100%;
  table-layout: fixed;
}