/* Global Styling */
/* =================================================================== */
html {
  height: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  height: 100%;
  background-color: #cccccc;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right,#132149, #132149, #344d8b);
  color: white;
}

#navbar-logo {
  width: 20rem;
}

.list-group-item {
  line-height: 2.5;
}

.container {
  margin-top: 120px;
}

.log-in {
  background-color: #132149;
  color: white;
}

.log-out {
  background-color: #132149;
  color: white;
}

/* Index Page Styling */
/* =================================================================== */
.index-body-container {
  max-width: 800px;
  margin-top: 200px;
  background-color:rgba(255, 255, 255, 0.931);
  border-radius: 25px;
}

.login-row {
  padding: 30px 10px 20px 10px;
}

.login-col {
  min-width: 650px;
}

/* Create Account Page Styling */
/* =================================================================== */
.clearfix.row {
  margin: 30px 0px 30px 0px;
}

.createAcct-body-container {
  /* max-width: 1100px; */
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.createAcct-row {
  padding: 30px 10px 20px 10px;
}

.createAcct-col {
  /* min-width: 1100px; */
}

.form-row {
  margin: 1rem 0rem;
}

/* Vendor Homepage Page Styling */
/* =================================================================== */
.vendorHome-container {
  background-color: #132149;
  padding: 1rem;
  border-radius: 20px;
}

#vendorTitle {
  color: white;
}

.eventList {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 15px;
}

#eventSearchSubmit {
  margin-left: 4rem;
}

/* Event Page Styling */
/* =================================================================== */

.eventName {
  text-align: center;
}
/* Customer Homepage Page Styling */
/* =================================================================== */
.customer-home-body-container {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background-image: linear-gradient(to bottom right,#132149, #132149, #344d8b);
  padding: 10px;
  border-radius: 10px;
  width: 75%;
}

#name-of-customer {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 14px;
  color: white;
}

.view-job-row {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.view-job-col {
  width: 95%;
}

.view-job-col table {
  background: white;
  border-radius: 10px;

}

#madeEventTable {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  background-color: transparent;
}
